
<div class="jumbotron" ng-show="!hornetConnected">
  <h1>Verbindung gescheitert</h1>
  <p class="lead">
    <span class="glyphicon glyphicon-flash" style="font-size:50pt;color: #d2322d"></span><br>
    Bitte starte deine Hornet Anwendung.
  </p>
  <p><a class="btn btn-lg btn-warning" ng-click="Ping()">Erneut versuchen!</span></a></p>
</div>

<div class="jumbotron" ng-show="hornetConnected">
  <h1>Verbindung erfolgreich</h1>
  <p class="lead">
    <span class="glyphicon glyphicon-ok-sign" style="font-size:50pt"></span><br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/launch">Weiter</a></p>
</div>
